
form { background: #000; padding: 15px; position: fixed; bottom: 0px ; width: 100%; }
form input { border: 0; padding: 10px; width: 85%; margin-right: .5%; color: gray; }
form button { width: 14%; background: rgba(0, 0, 255, 0.568); border: none; padding: 10px; color: white }
#online-users { 
  list-style-type: none; margin: 0;  
  font-weight: 600;
  overflow: hidden;
  padding-right: 15px;
  text-align: right; 
}
#online-users li { padding: 5px 10px; color: teal ; }
#messages { list-style-type: none; margin: 0;  overflow-y: scroll;
    padding: 10px 20px 10px 20px;  color: teal }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

* {
    box-sizing: border-box;
  }
  
  html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  html, input {
    font-family: sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    word-wrap: break-word;
  }

  
.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .page {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  
  
.login.page {
    background-color: #000;
  }
  
  .login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  
  .login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
  }
  
  .login.page .title {
    font-size: 200%;
  }
  
  .login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
  }
  
  .login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
  }
  
  .chat.page {
    display: none;
  }